.container {
  padding: 8px 8px 0 8px;
  cursor: pointer;
}

img {
  width: 35px;
}

//:host ::ng-deep h2

.flag ::ng-deep .image-container {
  min-width: 50px;

  img {
    width: 35px;
    margin-left: 8px;
    padding-top: 8px;
  }
}

// last flag
.flag.last ::ng-deep .image-container img{
  padding-bottom: 8px;
}