
// mat-sidenav-container, mat-sidenav-content, mat-sidenav {
//   height: 100%;
// }
// mat-sidenav {
//   width: 250px;
// }
// main {
//   padding: 10px;
// }


.main-content-wrapper {
  height: calc(100vh - 128px);
}

.example-spacer {
  flex: 1 1 auto;
}