<div class="nav-bar-main">
  <nav mat-tab-nav-bar mat-align-tabs="center" color="accent" class="nav-bar-nav" #matTabNav>
    <ng-container *ngFor="let tab of tabs" >
    <a mat-tab-link
       [routerLink]="tab.route"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"
    >
      <span class="tab-link-label" [ngClass]="rla.isActive ? 'mat-subheading-1' : 'mat-subheading-2'"> {{ tab.title | translate }}</span>
    </a>
    </ng-container>
  </nav>
  <div class="nav-bar-content">
    <router-outlet></router-outlet>
  </div>
</div>
